.base {
  background-color: rgba(0, 0, 0, 0.3);
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.base a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}